<h1> The Different Styles of IPA's</h1>

  <table>
      <tr>
        <th> Style </th>
      </tr>
      <td><%= link_to 'New Style', new_style_path(@styles) %> </td>

      <% @styles.each do |style| %>
        <tr>
            <td> <%= style.style %> </td>
            <td><%= link_to 'Show', style_path(style) %></td>
            <td><%= link_to 'Edit', edit_style_path(style) %> </td>
            <td><%= link_to 'Delete', style_path(style),
                    method: :delete,
                    data: { confirm: 'Are you sure you want to delete this style?' } %> </td>
          </tr>
          <% end %>
        </table>
