<h1> Styles of IPA's </h1>
<%= form_for :style, url: styles_path do |f| %>
  <p>
    <%= f.label :style %><br>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.submit %>
    <%= form_for :style, url: styles_path do |f| %>
  </p>
<% end %>
<%= link_to 'Back', styles_path %>
